.content {
    margin-top: var(--default-vertical-gap);
}

.list {
    margin-top: var(--default-vertical-gap);

    .heading-secondary {
        margin-bottom: .75rem;
        line-height: 1;
    }

}